*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    margin: 0 auto;
    background-color: #ba5ca3;
    background-image: url(Untitled-1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

h1{
    font-family: "kit-rounded", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f9f5ff;
    font-size: 42pt;
    margin: 0;
}

h2{
    font-family: "kit-rounded", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f9f5ff;
    font-size: 36pt;
    color: #ffbbe4;
    margin: 0;
}

a{
    text-decoration: none;
}

.top{
    height: 40vh;
   
}

.container{
    align-items: center;
    justify-items: center;
    

}