*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    margin: 0 auto;
    background-color: #ba5ca3;
    background-image: url(Untitled-1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

h1{
    font-family: "kit-rounded", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f9f5ff;
    font-size: 42pt;
    margin: 0;
}

h2{
    font-family: "kit-rounded", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f9f5ff;
    font-size: 36pt;
    color: #ffbbe4;
    margin: 0;
}

a{
    text-decoration: none;
}

.top{
    height: 40vh;
   
}

.container{
    align-items: center;
    justify-items: center;
    text-align: center;

}

.phone{
    display: none;
}

/* max-width = desktop first design */
/* min-width = desktop first design */

/*tablet styles*/
@media screen and (max-width:900px){
    h1{
        font-size: 28pt;
    }

    h2{
        font-size: 21pt;
    }
    .homebutton{
        display: none;
    }
    .phone{
        display: block;
    }
}

/*phone styles*/
@media screen and (max-width: 600px){
    .homebutton{
        display: none;
    }
    .phone{
        display: block;
    }
}