*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    margin: 0 auto;
    background-color: #ddc0dc;
}

h1{
    font-family: "kit-rounded", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #a8228e;
    font-size: 48pt;
    margin-bottom: 0;
}

h2{
    font-family: "kit-rounded", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #a8228e;
    font-size: 24pt;
    
}

h2.pink{
    font-family: "kit-rounded", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ec008c;
    font-size: 24pt;
}

h3{
    font-family: "kit-rounded", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #a8228e;
    font-size: 18pt;
    margin: 0;
}

h4{
    font-family: "kit-rounded", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #a8228e;
    font-size: 24pt;
    margin: 0;
    text-align: center;
}

h5{
    font-family: "kit-rounded", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ec008c;
    font-size: 16pt;
    margin: 0;
}


.top{
    height: 10vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 30px;
}

.container{
    align-items: center;
    justify-items: center;

}

.title{
    text-align: center;
    margin-top: 40px;
}

.row1{
    margin-top: 50px;
    text-align: left;
    margin-left: 400px;
    margin-right: 400px;
}

.row2{
    margin-top: 50px;
    text-align: left;
}

.row3{
    margin-top: 50px;
    text-align: left;
    margin-left: 400px;
    margin-right: 400px;
}

.bottom{
    height: 10vh;
    
}

a{
    text-decoration: underline #ec008c;
}

/* max-width = desktop first design */
/* min-width = desktop first design */

@media screen and (max-width: 1200px){
    .row1{
        margin-left: 300px;
        margin-right: 300px;
    }

    .row3{
        margin-left: 300px;
        margin-right: 300px;
    }
    
}

/*tablet styles*/
@media screen and (max-width:900px){
    h1{
        font-size: 28pt;
    }

    h2{
        font-size: 21pt;
    }

    .row1, .row3{
        margin-left: 200px;
        margin-right: 200px;
    }
   
   
    
}

/*phone styles*/
@media screen and (max-width: 750px){
    .row1, .row3{
        margin-left: 100px;
        margin-right: 100px;
    }

    h3{
        padding-left: 10px;
        padding-right: 10px;
    }
    
}

@media screen and (max-width: 588px){
    .row1, .row3, .row2{
        margin-left: 50px;
        margin-right: 50px;
    }
    
}

@media screen and (max-width: 450px){
    h1{
     font-size: 20pt;
    }

       h2{
           font-size: 18pt;
       }
   
       h3{
           font-size: 16pt;
       }
   
       h4{
           font-size: 18pt;
       }

       h5{
            font-size: 14pt;
       }

    }